// Cores Primárias
$color-primary: #623AF7; // Mantido, roxo vibrante para destaques
$color-secondary: #E6E6E8; // Mantido, cinza claro para textos secundários
$color-tertiary: #FFF; // Mantido, branco para textos principais

// Backgrounds
$background: #25252A; // Novo fundo geral (cinza escuro com leve nuance azulada)
$background-cards: #000; // Mantido, preto puro para os cards
$background-section: #1A1A23; // Nova variável para seções específicas (um pouco mais escuro que o fundo geral)

// Botões
$background-button: #360cd1; // Mantido, roxo vibrante para botões
$background-button-hover: #7A54FF; // Novo, roxo mais claro para o estado hover

// Detalhes
$accent-color: #8A6AFF; // Novo, roxo mais claro para bordas, ícones ou detalhes sutis

